<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odigo</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
   
</head>
<body>
    <header class="header">
        <div class="wrapper">
           <div class="header__wrapper">
             <div class="header__logo">
                <a href="../WebSiteWithFigma/index.html" class="header_logo__link"><img src="../WebSiteWithFigma/images/odigo-Logo.svg" alt="odigo"></a>
             </div>

             <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__list__item"><a href="#" class="header__item__link">Articles</a></li>
                    <li class="header__list__item"><a href="#" class="header__item__link">Location</a></li>
                    <li class="header__list__item"><a href="#" class="header__item__link">Videos</a></li>
                    <li class="header__list__item"><a href="#" class="header__item__link">Sign in</a></li>
                </ul>
                <div class="header_nav_close">
                    <span class="nav__close__line"></span>
                    <span class="nav__close__line"></span>
                </div>
             </nav>

             <div class="header__burger">
                 <span class="burger__line burger__line_first"></span>
                 <span class="burger__line burger__line_second"></span>
                 <span class="burger__line burger__line_third"></span>
             </div>
           </div>
        </div>
    </header>
    <main class="main">
        <section class="intro">
            <div class="wrapper">
                <h1 class="intro__title">Discover Amazing places in Japan</h1>

                <p class="intro__subtitle">
                    Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this if i had the energy but under the bed, for attack the child, open the door, 
                </p>
                <form action="" class="search-form">

                    <fieldset class="search-form__wrap">
                        <p class="search-form__info">
                            <input name="user-likes-to-do" type="text" class="form-search_input" placeholder="What would you like to do?">
                            <input name="user-likes-to-go"type="text" class="form-search_input" placeholder="Where would you like to go?">
                            <button type="submit" class="search-form_button">search</button>

                        </p>
                    </fieldset>
                </form>
            </div>
        </section>
        <section class="benefits">
           <div class="benefits__wrap">
              <h2 class="benefits__title">Benefits of Odigo</h2>
              <div class="benefits__cards">
                <div class="benefits__card">
                    <div class="benefits__card__pic">
                        <img src="../WebSiteWithFigma/Icon.svg" alt="">
                    </div>
                    <h3 class="benefits__card__title">
                        Welcome to Odigo!
                    </h3>
                    <p class="benefits__card__desk">
                        Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
                    </p>
                    <a href="#" class="benefits__carf-more">LEARN MORE</a>
                </div>
                <div class="benefits__card">
                    <div class="benefits__card__pic">
                        <img src="../WebSiteWithFigma/Icon (1).svg" alt="">
                    </div>
                    <h3 class="benefits__card__title">
                        Your Personal Japan Guide
                    </h3>
                    <p class="benefits__card__desk">
                        Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
                    </p>
                    <a href="#" class="benefits__carf-more">LEARN MORE</a>
                </div>
                <div class="benefits__card">
                    <div class="benefits__card__pic">
                        <img src="../WebSiteWithFigma/Icon (2).svg" alt="">
                    </div>
                    <h3 class="benefits__card__title">
                        Promoting Local Businesses
                    </h3>
                    <p class="benefits__card__desk">
                        Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
                    </p>
                    <a href="#" class="benefits__carf-more">LEARN MORE</a>
                </div>
             </div>
           </div>
        </section>
        <section class="places">
            <div class="wrapper-full">
                <div class="place__captain">
                    <h2 class="section__title place__title">Get inspired for your next trip</h2>
                    <a href="" class="place__view-all">VIEW ALL</a>
                </div>
                <div class="places__cards">
                    <figure class="places__card places__card_lg">
                        <img src="../WebSiteWithFigma/images/Imageplace-1.jpg" alt="Moun Fudji" class="places_card_pic lg">
                        <figurecaption class="places__card_title">
                            Mount Fuji
                        </figurecaption>
                        <a href="#" class="places_card_link"></a>
                    </figure>

                    <figure class="places__card places__card_lg">
                        <img src="../WebSiteWithFigma/images/place-2.jpg" alt="Kyoto" class="places_card_pic lg">
                        <figurecaption class="places__card_title">
                            Kyoto
                        </figurecaption>
                        <a href="#" class="places_card_link"></a>
                    </figure>

                    <figure class="places__card places__card_small">
                        <img src="../WebSiteWithFigma/images/Imageplace-3.jpg" alt="Tokyo" class="places_card_pic sm">
                        <figurecaption class="places__card_title">
                            Tokyo
                        </figurecaption>
                        <a href="#" class="places_card_link"></a>
                    </figure>



                    <figure class="places__card places__card_small">
                        <img src="../WebSiteWithFigma/images/Imageplace-4.jpg" alt="Niigata" class="places_card_pic sm">
                        <figurecaption class="places__card_title">
                            Niigata
                        </figurecaption>
                        <a href="#" class="places_card_link"></a>
                    </figure>

                    <figure class="places__card places__card_small">
                        <img src="../WebSiteWithFigma/images/Imageplace-5.jpg" alt="Sapporo" class="places_card_pic sm">
                        <figurecaption class="places__card_title">
                            Sapporo
                        </figurecaption>
                        <a href="#" class="places_card_link"></a>
                    </figure>


                    

                </div>
            </div>
        </section>
        <div class="tours">
            <div class="wrapper-full">
                <div class="tour">
                    <div class="tour__pic">
                        <img src="../WebSiteWithFigma/images/ImageJapan.jpg" alt="tour"class="tour_thumb">
                    </div>
                        <div class="tours__info">
                            <h3 class="tours__title">Prefecture in Focus: Tottori</h3>
                            <p class="tours__text">
                                 Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this if i had the energy but under the bed, for attack the child, open the door, 
                            </p>
                         <a href="#" class="tours__link">VIEW PREFECTURE</a>
                       </div>
                </div>




                <div class="tour">
                        <div class="tours__info">
                            <h3 class="tours__title">Prefecture in Focus: Tottori</h3>
                            <p class="tours__text">
                                Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this if i had the energy but under the bed, for attack the child, open the door, 
                            </p>
                            <a href="#" class="tours__link">VIEW PREFECTURE</a>
                        </div>

                        <div class="tour__pic">
                            <img src="../WebSiteWithFigma/images/JapanZero.jpg" alt="tour"class="tour_thumb">
                        </div>

               </div>


                
            </div>
        </div>
        <section class="top">
            <div class="wrapper-full">
                <h2 class="section__title top__title">
                    Today top places to visit
                </h2>
                <div class="top__cards">
                    <div class="top__card">
                        <div class="top_card_main">
                            <img src="../WebSiteWithFigma/images/nagoya.jpg" alt="Nagoya" class="top_card_thumb">
                            <a href="#" class="top_card_link"></a>
                            <div class="top_card_info">
                                <span class="top_card_text">
                                    NAGOYA
                                </span>

                                <span class="top_card_likes">
                                    221
                                </span>
                                <span class="top_card_coments">
                                    50
                                </span>
                            </div>
                        </div>
                        <p class="top_card_desc">
                            Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this.
                        </p> 
                        
                        
                    </div>





                    <div class="top__card">
                        <div class="top_card_main">
                            <img src="../WebSiteWithFigma/images/nigata.jpg" alt="Naoya" class="top_card_thumb">
                            <a href="#" class="top_card_link"></a>
                            <div class="top_card_info">
                                <span class="top_card_text">
                                    NIGATA
                                </span>

                                <span class="top_card_likes">
                                    221
                                </span>
                                <span class="top_card_coments">
                                    50
                                </span>
                            </div>
                        </div>
                        <p class="top_card_desc">
                            Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this.
                        </p> 
                       
                    </div>





                    <div class="top__card">
                        <div class="top_card_main">
                            <img src="../WebSiteWithFigma/images/osaka.jpg" alt="Nagoya" class="top_card_thumb">
                            <a href="#" class="top_card_link"></a>
                            <div class="top_card_info">
                                <span class="top_card_text">
                                    OSAKA
                                </span>

                                <span class="top_card_likes">
                                    221
                                </span>
                                <span class="top_card_coments">
                                    50
                                </span>
                            </div>
                        </div>
                        <p class="top_card_desc">
                            Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this.
                        </p> 
                     
                    </div>



                    <div class="top__card">
                        <div class="top_card_main">
                            <img src="../WebSiteWithFigma/images/satika.jpg" alt="Nagoya" class="top_card_thumb">
                            <a href="#" class="top_card_link"></a>
                            <div class="top_card_info">
                                <span class="top_card_text">
                                    SAITAMA
                                </span>

                                <span class="top_card_likes">
                                    221
                                </span>
                                <span class="top_card_coments">
                                    50
                                </span>
                            </div>
                        </div>
                        <p class="top_card_desc">
                            Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this.
                        </p> 
                       
                    </div>


                    <div class="top__card">
                        <div class="top_card_main">
                            <img src="../WebSiteWithFigma/images/UENA.jpg" alt="Nagoya" class="top_card_thumb">
                            <a href="#" class="top_card_link"></a>
                            <div class="top_card_info">
                                <span class="top_card_text">
                                    UENO
                                </span>

                                <span class="top_card_likes">
                                    221
                                </span>
                                <span class="top_card_coments">
                                    50
                                </span>
                            </div>
                        </div>
                        <p class="top_card_desc">
                            Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this.
                        </p> 
                        
                    </div>


                    <div class="top__card">
                        <div class="top_card_main">
                            <img src="../WebSiteWithFigma/images/SHIBUYA.jpg" alt="Nagoya" class="top_card_thumb">
                            <a href="#" class="top_card_link">SEE MORE</a>
                            <div class="top_card_info">
                                <span class="top_card_text">
                                    SHIBUYA
                                </span>

                                <span class="top_card_likes">
                                    221
                                </span>
                                <span class="top_card_coments">
                                    50
                                </span>
                            </div>
                        </div>
                        <p class="top_card_desc">
                            Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this.
                        </p> 
                        
                    </div>
                </div>
            </div>
        </section>

        <div class="videos">
            <div class="videos__wrapper">
                <div class="video_item"> </div>
                    
                <iframe class="videos__video"src="https://www.youtube.com/embed/F0AT_7uVbeo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               
            </div>
        </div>


    </main>
    <footer class="footer">
       <div class="footer__wrapper">
        <div class="footer__items">
                
            <div class="footer_logo">
                  <img class="footer_logo_pic"src="../WebSiteWithFigma/images/odigo-logo-footer.svg" alt="">
            </div>
             

            <nav class="nav">
                 <ul class="footer_list">
                     <li class="footer_item">
                         <h3 class="footer_title">Company</h3>
                     </li>
                     <li class="footer_item"><a href="#" class="footer_link">About</a></li>
                     <li class="footer_item"><a href="#" class="footer_link">Team</a></li>
                     <li class="footer_item"><a href="#" class="footer_link">Careers</a></li>
                     <li class="footer_item"><a href="#" class="footer_link">Privacy Policy</a></li>
                 </ul>




                 <ul class="footer_list">
                    <li class="footer_item">
                        <h3 class="footer_title">Locations</h3>
                    </li>
                    <li class="footer_item"><a href="#" class="footer_link">About</a></li>
                    <li class="footer_item"><a href="#" class="footer_link">Team</a></li>
                    <li class="footer_item"><a href="#" class="footer_link">Careers</a></li>
                    <li class="footer_item"><a href="#" class="footer_link">Privacy Policy</a></li>
                </ul>


                <ul class="footer_list">
                    <li class="footer_item">
                        <h3 class="footer_title">Social Media</h3>
                    </li>
                    <li class="footer_item"><a href="#" class="footer_link">About</a></li>
                    <li class="footer_item"><a href="#" class="footer_link">Team</a></li>
                    <li class="footer_item"><a href="#" class="footer_link">Careers</a></li>
                    <li class="footer_item"><a href="#" class="footer_link">Privacy Policy</a></li>
                </ul>
            </nav>
       </div>
           
        
        
    </footer>
    <script  src="../WebSiteWithFigma/JavaScript.js"></script>
</body>
</html>