{%extends 'base.html'%}
{%block title%} {{article.article_title}} {%endblock%}

{%block content%}
    <h2>{{article.article_title}}</h2>
    <p>{{article.article_text}}</p>
    <em>{{article.pub_date}}</em>
    {%if article.was_published_recently%}
        New article!
    {%endif%}
    <hr>
    <form action="{% url 'articles:leave_comment' article.id%}" method="POST">
        {%csrf_token%}
        <input type="text" placeholder="John" name="Name"><br>
        <textarea placeholder="Text of comment" name="Text"  cols="30" rows="10"></textarea><br>
        <button type="submit">Send</button>
    </form>
    {%if latest_comments_list%}
        {%for a in latest_comments_list%}

                <strong>{{a.comment_author}}</strong>
                <p>{{a.comment_text}}</p>


        {%endfor%}
    {%else%}
        No comments found, be the first!
    {%endif%}
{%endblock%}